{% extends 'base.html' %}

{% block contenido %}
<div id="page-wrapper">
    <div class="row">
	<div class="col-lg-12">
	    <h1 class="page-header">{{ curso.numero }}&ordm; {{ curso.division }} - {{ curso.anio }}</h1>
	</div>
	<!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
	<div class="col-lg-12">
	    <div class="panel panel-default">
		<div class="panel-heading">
		    Informacion del curso
		</div>
		<div class="panel-body">
		    <div class="row">
			<div class="col-lg-12">
			    <h3> Datos mensuales </h3>

	                <div class="col-lg-3 col-md-6">
	                    <div class="panel panel-primary">
		                <div class="panel-heading">
		                    <div class="row">
			                <div class="col-xs-3">
			                    <i class=""></i>
			                </div>
			                <div class="col-xs-9 text-right">
			                    <div class="huge">0</div>
			                    <div>Total de Inasistencias</div>
			                </div>
		                    </div>
		                </div>
	                    </div>
	                </div>
	                <div class="col-lg-3 col-md-6">
	                    <div class="panel panel-green">
		                <div class="panel-heading">
		                    <div class="row">
			                <div class="col-xs-3">
			                    <i class=""></i>
			                </div>
			                <div class="col-xs-9 text-right">
			                    <div class="huge">0</div>
			                    <div>Total de Inasistencias</div>
			                </div>
		                    </div>
		                </div>
	                    </div>
	                </div>
	                <div class="col-lg-3 col-md-6">
	                    <div class="panel panel-yellow">
		                <div class="panel-heading">
		                    <div class="row">
			                <div class="col-xs-3">
			                    <i class=""></i>
			                </div>
			                <div class="col-xs-9 text-right">
			                    <div class="huge">0</div>
			                    <div>Asistencia Media Total</div>
			                </div>
		                    </div>
		                </div>
	                    </div>
	                </div>
	                <div class="col-lg-3 col-md-6">
	                    <div class="panel panel-red">
		                <div class="panel-heading">
		                    <div class="row">
			                <div class="col-xs-3">
			                    <i class=""></i>
			                </div>
			                <div class="col-xs-9 text-right">
			                    <div class="huge">0%</div>
			                    <div>Porcentaje de Asistencias</div>
			                </div>
		                    </div>
		                </div>
	                    </div>
	                </div>

		        <h3> Datos anuales </h3>
			    
	                <div class="col-lg-3 col-md-6">
	                    <div class="panel panel-primary">
		                <div class="panel-heading">
		                    <div class="row">
			                <div class="col-xs-3">
			                    <i class=""></i>
			                </div>
			                <div class="col-xs-9 text-right">
			                    <div class="huge">0</div>
			                    <div>Total de Inasistencias</div>
			                </div>
		                    </div>
		                </div>
	                    </div>
	                </div>
	                <div class="col-lg-3 col-md-6">
	                    <div class="panel panel-green">
		                <div class="panel-heading">
		                    <div class="row">
			                <div class="col-xs-3">
			                    <i class=""></i>
			                </div>
			                <div class="col-xs-9 text-right">
			                    <div class="huge">0</div>
			                    <div>Total de Inasistencias</div>
			                </div>
		                    </div>
		                </div>
	                    </div>
	                </div>
	                <div class="col-lg-3 col-md-6">
	                    <div class="panel panel-yellow">
		                <div class="panel-heading">
		                    <div class="row">
			                <div class="col-xs-3">
			                    <i class=""></i>
			                </div>
			                <div class="col-xs-9 text-right">
			                    <div class="huge">0</div>
			                    <div>Asistencia Media Total</div>
			                </div>
		                    </div>
		                </div>
	                    </div>
	                </div>
	                <div class="col-lg-3 col-md-6">
	                    <div class="panel panel-red">
		                <div class="panel-heading">
		                    <div class="row">
			                <div class="col-xs-3">
			                    <i class=""></i>
			                </div>
			                <div class="col-xs-9 text-right">
			                    <div class="huge">0%</div>
			                    <div>Porcentaje de Asistencias</div>
			                </div>
		                    </div>
		                </div>
	                    </div>
	                </div>
			</div>
		    </div>
		</div>
	    </div>
	</div>
    </div>
</div>
{% endblock %}
