<div id="page-wrapper">
    <div class="row">
	<div class="col-lg-12">
	    <h1 class="page-header">Administrar</h1>
	</div>
	<!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
	<div class="col-lg-12">
	    <div class="panel panel-default">
		<div class="panel-heading">
		    Datos de los cursos
		</div>
		<div class="panel-body">
		    <div class="row">
			<div class="col-lg-6">
			    <form role="form">
				
				<div class="form-group">
				    
				<label>Cursos</label>
				    <select class="form-control">
					<option>1 A&Ntilde;O A</option>
					<option>1 A&Ntilde;O B</option>
					<option>1 A&Ntilde;O C</option>
										    
					<option>2 A&Ntilde;O A</option>
					<option>2 A&Ntilde;O B</option>
					<option>2 A&Ntilde;O C</option>

					<option>3 A&Ntilde;O A</option>
					<option>3 A&Ntilde;O B</option>
					<option>3 A&Ntilde;O C</option>

					<option>4 A&Ntilde;O A</option>
					<option>4 A&Ntilde;O B</option>
					<option>4 A&Ntilde;O C</option> 
					
					<option>5 A&Ntilde;O B</option>
					<option>5 A&Ntilde;O C</option>                                                
					<option>5 A&Ntilde;O B</option>

					<option>6 A&Ntilde;O C</option>
					<option>6 A&Ntilde;O B</option>
					<option>6 A&Ntilde;O C</option>

					<option>7 A&Ntilde;O A</option>
					<option>7 A&Ntilde;O B</option>
					<option>7 A&Ntilde;O C</option>
				    </select>
				</div>

				
				<button type="submit" class="btn btn-default">Cargar</button>

			    </form>
			</div>

			<div class="col-lg-6">
			    </form>
			    <h1>Datos del curso</h1>
			    <form role="form">
				<h3>Datos mensuales</h3>
				<div class="form-group has-success">
				    <label class="control-label" for="inputSuccess">Total de Asistencias</label>
				    <input type="text" class="form-control" id="TotalAsistenciasMensuales">
				</div>
				<div class="form-group has-warning">
				    <label class="control-label" for="inputWarning">Total Inasistencias</label>
				    <input type="text" class="form-control" id="TotalInasistenciasMensuales">
				</div>
				<div class="form-group has-error">
				    <label class="control-label" for="inputError">Asistencia Media</label>
				    <input type="text" class="form-control" id="AsistenciaMediaMensuales">
				</div>
				<div class="form-group has-warning">
				    <label class="control-label" for="inputWarning">Porsentaje de Asistencias</label>
				    <input type="text" class="form-control" id="PorsentajeAsistenciasMensuales">
				</div>
			    </form>

			    <form role="form">
				<h3>Datos anuales</h3>
				<div class="form-group has-success">
				    <label class="control-label" for="inputSuccess">Total de Asistencias</label>
				    <input type="text" class="form-control" id="TotalAsistenciasAnuales">
				</div>
				<div class="form-group has-warning">
				    <label class="control-label" for="inputWarning">Total Inasistencias</label>
				    <input type="text" class="form-control" id="TotalInasistenciasAnuales">
				</div>
				<div class="form-group has-error">
				    <label class="control-label" for="inputError">Asistencia Media</label>
				    <input type="text" class="form-control" id="AsistenciaMediaAnuales">
				</div>
				<div class="form-group has-warning">
				    <label class="control-label" for="inputWarning">Porsentaje de Asistencias</label>
				    <input type="text" class="form-control" id="PorsentajeAsistenciasAnuales">
				</div>
			    </form>
			</div>
		    </div>
		</div>
	    </div>
	</div>
    </div>
</div>
